.kefu{
    width: 3.2rem;
    height: 4.686rem;
    position: fixed;
    right: 0;
    top: calc(50% - 2.343rem);
    background-image: url(../images/kefu-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 999;
}

.kefu .kefu-portrait{
    width: 1.028rem;
    height: 1.142rem;
    margin: 0.228rem auto 0;
}

.kefu .kefu-portrait img{
    width: 100%;
    height: 100%;
}

.kefu .kefu-text{
    width: 100%;
    text-align: center;
    font-size: 0.571rem;
    color: #FFFFFF;
    transform: scale(0.8);
}